[project]
	description = TSYS-NEW
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shobaarava
[access "refs/for/refs/*"]
	read = group user/shobaarava
	push = group user/shobaarava
	label-Code-Review = -2..+2 group user/shobaarava
	label-Verified = -1..+1 group user/shobaarava
	rebase = group user/shobaarava
	removeReviewer = group user/shobaarava
	submit = group user/shobaarava
[access "refs/heads/*"]
	read = group user/shobaarava
	create = group user/shobaarava
	push = +force group user/shobaarava
	pushMerge = group user/shobaarava
[access "refs/tags/*"]
	push = +force group user/shobaarava
	pushTag = group user/shobaarava
	pushSignedTag = group user/shobaarava
